<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zhuorui.securities">

    <!--bugly所需权限-->
    <!--注：如果您的App需要上传到google play store，您需要将READ_PHONE_STATE权限屏蔽掉或者移除，否则可能会被下架。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <!--bugly所需权限-->

    <!--在Android 9.0以上默认不支持http通信，为保证SDK正常使用，maven库中已添加如下属性（注：如遇工程报错找不到该属性，将app/build.gradle中的compileSdkVersion改为23以上即可）-->
    <application
            android:name=".Application"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <!-- 配置设计稿尺寸 -->
        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>

        <!--启动页-->
        <activity android:name=".ui.SplashActivity"
                  android:theme="@style/SplashTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity
                android:name=".ui.MainActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"/>

        <!--个推服务-->
        <service
                android:name=".service.ZRPushService"
                android:exported="true"
                android:label="PushService"
                android:process=":pushservice"/>

        <!-- 用于接收推送的服务 permission属性在2.13.1.0版本后必须配置 -->
        <service
                android:name=".service.ZRIntentService"
                android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>